{% extends "base_generic.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<form action="" method="POST">
    <table>
        {% for field in form %}
        <tr>
            <td class="td-right">{{ field.label_tag }} </td>
            <td>{{ field }}</td>
        </tr>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-center text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
    {% csrf_token %}
    <div class="form-links">
        <input type="submit" class="btn btn-primary round-button" value="Сохранить">
        <p class="text-center">
            <a class="btn-text text-gray" href="{% url 'personal' %}">Вернуться</a>
        </p>
    </div>
</form>
{% block scripts %}
    <script src="{% static 'script/register.js' %}"></script>
{% endblock %}

{% endblock %}