{% extends "base_generic.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <h5 class="text-center">Забыли свой пароль?</h5>
    <p class="text-center">Введите свой Email, чтобы изменить пароль</p>
    <form action="." method="post">
        <table>
            <tr>
                <td class="td-right"><label for="id_email">E-mail</label></td>
                <td>{{ form.email }}</td>
            </tr>
        </table>
        {% csrf_token %}
        <div class="form-links">
            <input class="btn btn-primary round-button" type="submit" value="Отправить">
        </div>
    </form>
{% endblock %}