{% extends "base_generic.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <h5 class="text-center">Востановление пароля</h5>
    {% if validlink %}
        <p class="text-center">Пожалуйста, дважды введите свой новый пароль:</p>
        {% if form.errors %}
        <p class="text-center text-secondary">Пароли не совпадают либо не проходят валидацию</p>
        {% endif %}
        <form action="." method="post">
            <table>
                <tr>
                    <td class="td-right"><label for="id_new_password1">Новый пароль</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                
                <tr>
                    <td><label for="id_new_password2">Повторите пароль</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            {% csrf_token %}
            <div class="form-links">
                <input class="btn btn-primary round-button" type="submit" value="Сохранить">
            </div>
        </form>
    {% else %}
        <p class="text-center">Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}